<!-- Sección de Bienvenida -->
<div class="welcome-section">
    <div class="card shadow-lg">
        <h1 class="mt-4 mb-4 text-center">¡Bienvenido al Buscador de Música!</h1>
        <p class="mb-4 text-center">Encuentra tus canciones, artistas y álbumes favoritos al instante.</p>

                <!-- CAROUSEL MAIN -->
                <div id="my-carousel" class="carousel slide" data-bs-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active ratio ratio-21x9">
                            <img class="d-block w-100"
                            src="https://res.cloudinary.com/dakrekb58/image/upload/v1741350524/music_of_the_spheres_by_patrick_kramer-d61mdd8_xjcmve.jpg"
                            alt="Musica">
                        </div>
                        <div class="carousel-item  ratio ratio-21x9">
                            <img class="d-block w-100"
                                src="https://res.cloudinary.com/dakrekb58/image/upload/v1741350376/obras-clasicas_fmpyov.png"
                                alt="Violin">
                        </div>
        
                        <div class="carousel-item  ratio ratio-21x9">
                            <img class="d-block w-100"
                                src="https://res.cloudinary.com/dakrekb58/image/upload/v1741350387/top-10-los-mejores-sitios-y-aplicaciones-para-conocer-mu%CC%81sica_j2dbzn.png"
                                alt="Auriculares">
                        </div>
        
                        <div class="carousel-item  ratio ratio-21x9">
                            <img class="d-block w-100 "
                                src="https://res.cloudinary.com/dakrekb58/image/upload/v1741350224/fotonoticia_20240523174703_1920_dc8qtr.jpg" alt="Concierto">
                        </div>
                    </div>
        
                    <!-- BOTONES -->
                    <button type="button" class="carousel-control-prev" data-bs-target="#my-carousel" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    </button>
        
                    <button type="button" class="carousel-control-next" data-bs-target="#my-carousel" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    </button>
        
                    <!-- INDICADORES -->
                    <div class="carousel-indicators">
                        <button type="button" class="active" data-bs-target="#my-carousel" data-bs-slide-to="0"></button>
                        <button type="button" data-bs-target="#my-carousel" data-bs-slide-to="1"></button>
                        <button type="button" data-bs-target="#my-carousel" data-bs-slide-to="2"></button>
                        <button type="button" data-bs-target="#my-carousel" data-bs-slide-to="3"></button>
                    </div>
        
                </div>

        <p class="mt-4 text-center">O explora nuestras recomendaciones personalizadas.</p>
    </div>
</div>