<header>{{title | uppercase}}</header>
<!-- Barra de navegacion -->
<nav class="navbar navbar-expand-md bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/bienvenida">Bienvenida</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buscaautor">Buscar por Autor</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/buscaalbum">Buscar por album</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" aria-disabled="true">Acerca de</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<main>
  <router-outlet></router-outlet>
  
</main>
<footer class="bg-success text-light py-4">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Acerca de</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Nuestra historia</a></li>
          <li><a href="#" class="text-light">Equipo</a></li>
          <li><a href="#" class="text-light">Contacto</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Enlaces útiles</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Política de privacidad</a></li>
          <li><a href="#" class="text-light">Términos de uso</a></li>
          <li><a href="#" class="text-light">Preguntas frecuentes</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h5>Síguenos</h5>
        <ul class="list-unstyled">
          <li><a href="#" class="text-light">Facebook</a></li>
          <li><a href="#" class="text-light">Twitter</a></li>
          <li><a href="#" class="text-light">Instagram</a></li>
        </ul>
      </div>
    </div>
    <hr class="border-light">
    <p class="text-center">&copy; 2024 Mi Sitio Web. Todos los derechos reservados.</p>
  </div>
</footer>