<div class="container mt-4">
    <h2>Búsqueda de Álbumes</h2>
    <input type="text" class="form-control" [(ngModel)]="album" placeholder="Ingrese el nombre del álbum">
    <button class="btn btn-primary mt-2" (click)="searchAlbum()">Buscar</button>

    <div *ngIf="loading">Cargando...</div>
    <div *ngIf="error" class="text-danger">{{ error }}</div>
    <table class="table mt-3 table-striped table-bordered" *ngIf="results.length">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Autor</th>
                <th>Enlace</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of results">
                <td>{{ item.name }}</td>
                <td>
                    <span *ngFor="let artist of item.artists">{{ artist.name }}<br></span>
                </td>
                <td><a [href]="item.href" target="_blank">Ver en Spotify</a></td>
            </tr>
        </tbody>
    </table>
</div>